<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.cyprusscores">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cfa"
        android:label="Cyprus Scores"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Theodoros-->
        <activity
            android:name=".LoginActivity"
            android:label="Cyprus Scores">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.cyprusscores.LoginActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Today&apos;s Matches"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalendarActivity"
            android:label="Calendar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.cyprusscores.MainActivity" />
        </activity>
        <activity
            android:name=".Tables"
            android:label="Tables">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.cyprusscores.MainActivity" />
        </activity>

        <!--Giorgos-->
        <activity
            android:name=".TeamActivity"
            android:label="CLUB"
            android:parentActivityName=".Tables"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.cyprusscores.Tables" />
        </activity>
        <activity
            android:name=".StadiumActivity"
            android:label="STADIUM" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.cyprusscores.StadiumActivity" />
        </activity>
        <activity
            android:name=".SquadActivity"
            android:label="SQUAD" />
        <activity
            android:name=".PlayerActivity"
            android:label="PLAYER"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Antonis-->
        <activity android:name=".FeedbackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.cyprusscores.MainActivity" />
        </activity>
        <activity android:name=".ShowFeedbackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.cyprusscores.MainActivity" />
        </activity>

        <service
            android:name=".TimerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".NotificationsActivity"
            android:parentActivityName=".FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs.cyprusscores.FeedbackActivity" />
        </activity>
        <activity android:name=".NotificationsSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotificationsActivity" />
        </activity>

    </application>

</manifest>